.btn{
background-color: gray;
color: white;
padding: 5px;
border: 1px solid gray;
margin: 5px;
}
.btn-Primary{
  background-color: #007bff;
  border: #007bff;
  border-radius: 5px;
}
.btn-Secondary{

}
.btn-Success{

}
.btn-Danger{

}
.btn-Warning{
    background-color: #ffc107;
    border: #ffc107;
    border-radius: 5px;
}
.btn-Info{

}
.btn-Light{
    
}
.btn-Dark{

}